@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Lao:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&family=Roboto+Mono&family=Tilt+Neon&display=swap');

.main {
  position: relative;
  width: 100%;
  height: 100dvh;
}

video {
  position: fixed;
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  left: 0;
  z-index: - 1;
}

.background-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, .6);
}

.App {
  text-align: center;
  color: white;
  font-family: 'Noto Serif Lao', serif;
}

.header {
  display: flex;
  justify-content: center;
  position: fixed;
  height: 70px;
  width: 100%;
  z-index: 10;
}

.nav-container {
  width: 30rem;
  max-width: 30rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Tilt Neon', cursive;
  padding-inline: 10px;
}

.nav-element {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
}

.nav-element:hover {
  transform: scale(1.03);
}

.nav-collapse-container {
  position: absolute;
  background-color: rgba(9, 9, 9, .9);
  width: 50%;
  right: 0;
  padding: 20px;
  justify-content: space-evenly;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  z-index: 20 !important;
  font-family: 'Tilt Neon', cursive;
  display: none;

}

.nav-collapse {
  width: 100%;
  min-height: 240px;
  margin-left: auto;
}


.nav-collapse .nav-element {
  font-size: 1.7rem;
}

.menu-btn {
  display: none;
  z-index: 5;
}


.home-container {
  margin-top: 70px;
  width: 100%;
  min-height: calc(100dvh - 70px);
  position: fixed;
  z-index: 5;
  top: 0;
}

.home-container h1 {
  font-size: 5rem;
  font-weight: 900 !important;
}

.surname,
.blue-span {
  color: rgb(0, 98, 255);
}

.button {
  width: 10rem;
  border-radius: 25px;
  height: 3rem;
  font-size: 1.3rem;
}

.button:hover,
.download-btn:hover {
  background-color: white !important;
  color: black;
  transition: 400ms !important;
}


.animate__animated.animate__fadeInUp {
  --animate-duration: 1.5s;
}

.animate__animated.animate__fadeInRight {
  --animate-duration: .8s;
}

.theme-container {
  position: fixed;
  z-index: 6;
  right: 16px;
  top: 11.5%;
  transform: rotate(90deg);
  background-color: rgba(0, 0, 0, .6);
  width: 100px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}


.theme-container h4 {
  background: -webkit-linear-gradient(#d9534f, #5cb85c, #f0ad4e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 30px;
}

.theme-container h4:hover,
.theme {
  cursor: pointer;
}

.themes {
  height: 80%;
}

.theme {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.close-theme {
  right: -90px;
}

.hover-primary:hover,
.active-primary {
  color: #0275d8;
}

.hover-success:hover,
.active-success {
  color: #5cb85c;

}

.hover-warning:hover,
.active-warning {
  color: #f0ad4e;
}

.hover-danger:hover,
.active-danger {
  color: #d9534f;

}

@media screen and (max-width: 650px) {
  .close-theme {
    right: calc(4% - 120px);
  }

  .home-header {
    font-size: 3.3rem !important;
  }
}

@media screen and (max-width: 550px) {
  .header {
    justify-content: flex-end;
    align-items: center;
  }

  .nav-container {
    display: none;
  }

  .nav-collapse-container,
  .menu-btn {
    display: block;
  }

}